{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jquery": true
    },
    "rules": {
        "indent": [2, 2],
        "no-console": 0,
        "no-alert": 0
    },
}
